body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

 /* Style the container for inputs */
  
.container
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 3);
    background: #fff;
    padding: 25px;
    margin: 8% auto;
    text-align: center;

}

.container h1
{
    color: #1c8adb;
    margin-bottom: 30px;
}

.input-box
{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid #999;
    outline: none;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  

  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    
}
  
#message p {
  padding: 10px 35px;
  font-size: 15px;
  text-align: left;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }

  img
{
    width: 30%;
    margin-top: -60px;

}

button
{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: none;
    outline: none;
    cursor: pointer;
}

.signup-btn
{
    background-color: #1c8adb;
}

.signin-btn
{
    background-color: #21afde;
}


hr
{
    margin: 20px;
    width: 80%;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -30px auto 10px;
}